body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
#login-card{
	border: 1px solid red;
	width: 50%;
	position: relative;
	left: 25%;
	padding: 1%;
	margin: 2% 0%;
	background: linear-gradient(180deg, red, yellow);
}
#login-card input, #login-card button{
	height: 25px;
	border-radius: 5px;
	width: 50%;
}
li{
	display: inline-block;
	padding: 5px 5%;
	border-top: 2px solid yellow;
	border-left: 2px solid yellow;
	border-bottom: 2px solid red;
	border-right: 2px solid red;
	font-weight: bold;
	cursor: pointer;
}
.btn{
	border-radius: 5px;
	padding: 5px 10px;
	box-shadow: 5px #currentColor;
	transform: scale(1.1); 
	margin: 5px;
}
.btn-success{
	background-color: lightgreen;
}
.btn-danger{
	background-color: red;
}